extends layout
block content

  include mixins/renderResumeSection.jade

  div.header
    .row
      .span12.center
        h1.display-name
          strong= settings.name
        span
          address
            a(href="http://"+settings.homepage)= settings.homepage
            br
            a(href="mailto:"+settings.email)= settings.email
            br
            p= settings.phone
            p.social-media
              for service in socialmedia
                a(href=service.url, target='_blank')
                    if (service.iconName == 'facebook')
                        img(class="img-circle fb-circle", src="img/"+service.iconName+".png")
                    else
                        img(class="img-circle", src="img/"+service.iconName+".png")
            a.hard-copy(href=settings.wordurl)
                img(src="img/microsoft-word-64.png")
            a.hard-copy(href=settings.pdfurl)
                img(src="img/pdf-64.png")
  div.res-content                  
      for sec in sections
        //- render sections
        +renderResumeSection(sec)
